@import '../../styles/settings.scss';

.columnForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $base-size;
  padding: 10px;
  flex-wrap: wrap;
  text-align: center;

  span {
    min-width: 60px;
  }
}

@media (max-width: 767px) {
  .columnForm {
    flex-direction: column;
    align-items: stretch;

    span {
      text-align: left;
    }
  }
}
