@import '../../styles/settings.scss';

.cardForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $base-size;
  margin-top: $base-size;
  padding: $base-size;
  text-align: center;
}
