
@import '../../styles/settings.scss';

.hero {
  text-align: center;
  margin: $base-size * 2 0;
}

.title {
  font-size: 40px;
  margin: 0 0 $base-size 0;
}

.subtitle {
  font-size: 18px;
  margin: 0;
}
