@use 'sass:math';
@import '../../styles/settings.scss';

.card {
  list-style: none;
  background: $color-light;
  padding: $base-size;
  border-radius: $radius;
  margin-bottom: $base-size;
  box-shadow: 0 math.div($base-size, 4) 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: $color-dark;
}

.isActive {
  color: $color-warning;
}
