@import '../../styles/settings.scss';

.listForm {
  margin-top: $base-size * 2;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin-right: $base-size / 2;

    &:not(:first-of-type) {
      margin-left: $base-size;
    }
  }

  button {
    margin-left: $base-size;
  }
}
