@import '../../styles/settings.scss';

.navbar {
  background: darken($color-dark, 3%);
  padding: 10px 0;
}

.navInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: $color-light;
  text-decoration: none;
}

.menu {
  display: flex;
  list-style: none;
  gap: 15px;
  margin: 0;
  padding: 0;

  a {
    color: $color-light;
    text-decoration: none;

    &.linkActive {
      color: $color-warning;
    }
  }
}
